@use "../core/valiables";

.c-pagenavi {
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .c-pagenavi {
    margin-bottom: 30px;
  }
}

.c-pagenavi_title {
  font-size: 12px;
  margin-bottom: 20px;
}

.c-pagenavi_body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.is-pagenavi_disabled,
.is-pagenavi_current,
.c-pagenavi_item,
.c-pagenavi_extend,
.c-pagenavi_prev,
.c-pagenavi_next {
  line-height: 28px;
  display: block;
  min-width: 30px;
  height: 30px;
  margin-left: -1px;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  transition: all 1500ms ease;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid valiables.$dividers;
  background-color: #fff;
}

.is-pagenavi_current,
.c-pagenavi_item:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #DEDEDE;
  background-color: #00BCD4;
}

.c-pagenavi_extend {
  border-top-width: 0;
  border-bottom-width: 0;
}

/* 左右アイコン */
.c-pagenavi_prev,
.c-pagenavi_next {
  background-color: #B2EBF2;
}

.c-pagenavi_prev {
  margin-right: 16px;
}

.c-pagenavi_next {
  margin-left: 16px;
}

.c-pagenavi_prev .material-icons,
.c-pagenavi_next .material-icons {
  font-size: 14px;
  line-height: inherit;
  height: inherit;
}

.is-pagenavi_disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #EEEEEE;
}