@use "../core/mixin";
/*
  @ 1column
* ------------------------------------------------------------------------ */

.l-container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 16px;
}
.l-container_primary,
.l-container_secondary {
  width: 100%;
  margin: 0 auto;
}
.l-container_primary {
  max-width: 842px;
}

/*
  @ 2column
* ------------------------------------------------------------------------ */
@media only screen and (min-width: 767px) {
  .is-container-colmun {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .is-container-colmun, 
  .l-container_primary {
    width: 70.6375838926%; /* div(842px / 1192px) * 100% */
    margin-left: 0;
  }
}

.is-container-colmun .l-container_secondary {
  position: relative;
  width: 100%;
}

.is-container-colmun .l-container_secondary::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-right: -16px;
  margin-left:  -16px;
  padding: 0 16px;
  content: '';
  background-color: #C6C6C6;
}
@media only screen and (min-width: 767px) {
  .is-container-colmun .l-container_secondary {
    width: 25.1677852349%; /* math.div(300px / 1192px) * 100% */
    margin-top: 0.4em;
    border-top-width: 0;
  }
  .is-container-colmun .l-container_secondary::before {
    display: none;
  }
}

/*
  @ 4column
* ------------------------------------------------------------------------ */
@media only screen and (min-width: 767px) {
  .is-grid-4to1 {
    @include grid('is-grid', 4, 1192, 32)
  }

  .is-grid-4to1 .is-grid {
    margin-right: 1%;
    margin-left: 1%;
    flex: 0 22%;
  }
}